body {
  min-height: 2000px;
  padding-top: 70px;
}
svg {
  max-width: 555px;
  max-height: 555px;
}
.sortable {
  cursor: pointer;
}
ul.services {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.services li {
  display: inline-block;
}
ul.services li + li:before {
  content: ", ";
}
.bar, .bar:hover {
  color: #000;
}
.bar p {
  padding: 5px;
}

.glyphicon.spinning {
  width: 100%;
  height: 100px;
  text-align: center;
  opacity: .1;
  font-size: 96px;
  margin-top: 100px;
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

