body {
  min-height: 2000px;
  padding-top: 70px;
}
ul.services {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.services li {
  display: inline-block;
}
ul.services li + li:before {
  content: ", ";
}
