body {
  min-height: 2000px;
  padding-top: 70px;
}
svg {
  max-width: 555px;
  max-height: 555px;
}
ul.services {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.services li {
  display: inline-block;
}
ul.services li + li:before {
  content: ", ";
}
.bar, .bar:hover {
  color: #000;
}
.bar p {
  padding: 5px;
}
